.cloud{
    position: absolute;
    width: 400px;
    height: 250px;
    opacity: 0;
    
    //top: 1500px;
    //left: -250px;
    
    //animation: cloudMove 5s;
    //animation-timing-function: linear;
    //animation-iteration-count: infinite;
}
@keyframes cloudMove{
    from{ transform: translateX(0)}
    to{transform: translateX(1750px)}
    
}



