.cloud{
    position: absolute;
    width: 400px;
    height: 250px;
    top: 1500px;
    left: -250px;
    
    //animation: cloudMove 5s;
    //animation-timing-function: linear;
    //animation-iteration-count: infinite;
}
@keyframes cloudMove{
    from{ transform: translateX(0)}
    to{transform: translateX(1750px)}
    
}

.body{
    text-align: center;
}

.main_container{
    //position:absolute;

    /*
    text-align: center;
    overflow-x: hidden;
    align-items: center;    
    -webkit-align-items: center;
    justify-content: center;*/
}

.bg1{
margin: 0;
}   
.bg2{
    margin-top: -5px;
}
.invisibleBox{
    position: fixed;
    bottom: 1;
    left:  900;
}



