.cow{
    position: absolute;
    width: 95px;
    height: 75px;
    opacity: 0;
    
    //top: 3100px;
    //left: 1050px;
    //z-index: 2;
        
    -webkit-transform: rotateY(40deg); /* Chrome, Safari, Opera */
    transform: rotateY(40deg);
    -ms-transform: rotateY(40deg); /* IE 9 */
    
    
    //animation: cowMove 30s;
    //animation-timing-function: linear;
    //animation-iteration-count: infinite;
}

@keyframes cowMove{
 
      0% {
            top: 3100px;
            left: 1050px;
        } 

      25% {
            top: 3130px;
            left: 1070px;
      }
      50% {
            top: 3200px;
            left: 1100px;
      }
      75% {
            top: 3250px;
            left: 900px;
      }
      100% {
            top: 3100px;
            left: 1050px;
      }
}
    
    