* {
    font-family: 'Lato', sans-serif;
    font-size: 1em;

}
h1, h2, h3, h4 {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 5em;
    font-weight: bold;
    text-shadow: 2px 2px 5px #525252;
}

h3 {
    font-size: 3.3em;

}



body {
    margin: 0;
    background: #006666;
    //background: #439B54;
    overflow-x: hidden !important;
}
.spinner{
    position: absolute;
    z-index: -1;
    padding-top: 50%;
    padding-left: 50%;
}

/* Toppest background images*/
.bg{
    width: 100%;
    height: auto;
    vertical-align: middle;
    margin-top: 0px;
}

.bg4s7{
    width: 100%;
    height: auto;
    margin-top: -2px;
}

.defLoadedBgs{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}
.bg4{ margin-top: -2px;}
.bg1,.bg2{ margin-top: -1px;}

#welcomeDiv {
    margin-top: -2px;
    background: #006666;
    position: relative;
}

.loading{
    position: absolute;
    padding-top: 50%;
    z-index: -1;
}
.bg5PH,.bg6PH,.bg7PH,.bg8PH,.bg9PH,.bg10PH,.bg11PH,.bg12PH,.bg13PH,.bg14PH{text-align: center; vertical-align: middle;}

/* ---------------------------- ALL ITEMS --------------------------------- */
.item {
    position: absolute;
    display: none;
}
.hiddenItem{
    display: none;
}
.au-flag, .ab-flag, .sold-sign {
    z-index: 20;
}
 .flags-building {
    z-index: 10;
 }
.arrows{  display: none;  width: 40px; }
#arrow-up{position: fixed;  bottom: 70px;  right: 20px;}
#arrow-down{ position: fixed;  bottom: 20px;  right: 20px; }

 #welcomemsg {
    text-align:center;
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
 }

.feedbackBtn{
    position: absolute;
    //width: 80px;
    //height: 30px;
    opacity: 0.7;
    z-index: 85;
}
.pBar{
    position: absolute;
    display: none;
    //border-radius: 10px;
    margin-top: 30%;
    z-index: 101;
}

progress {
	/* Important Thing */
	-webkit-appearance: none;
	border: none;
}

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
	background: white;
	border-radius: 5px;
	padding: 2px;
}

/* Now the value part */
progress::-webkit-progress-value {
	border-radius: 5px;
}

progress::-moz-progress-bar {
    -webkit-appearance: none;
	border: none;
	border-radius: 10px;
	padding: 2px;
}

/* ---------- MESSAGES ------------ */
.msg {
    display: none;
    position: absolute;
    padding: 10px 15px;
    max-width: 450px;
    background-color: #f26d21;
    //opacity: 0.8;
    border-radius: 10px;
    border: #f37b37 1px solid;
    z-index: 100;
    color: #ffffff;
    -moz-box-shadow: 0 0 8px #222;;
    -webkit-box-shadow: 0 0 8px #222;;
    box-shadow: 0 0 8px #222;;
}

.msg p {
    margin: 10px;
    font-size: 20px;
}

.msg a {
    text-decoration: none;
    text-align: right;
    font-family: 'Source Sans Pro', sans-serif;
    float: right;
    font-size: 15px;
    color: #ffffff;
}

.msg a:hover {
    color: #fce1d2;
 }

.close-msg {
    padding: 6px;
     top: 2px;
     right: 4px;
     position: absolute;
}


/* ---------------- DOTS FOR MESSAGES -------------------- */
.holder {
    display: none;
    padding: 10px;
    margin: 10px auto;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 250px;
    left: 680px;
    cursor: pointer;
    z-index: 97;
}

.dot {
    border: 10px solid #ffffff;
    background: transparent;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    height: 50px;
    width: 50px;
    -webkit-animation: pulse 3s ease-out;
    -moz-animation: pulse 3s ease-out;
    animation: pulse 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 98;
    opacity: 0;
    cursor: pointer;
}

.pulse {
    width: 30px;
    height: 30px;
    border: 5px solid #ffffff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #ffffff;
    z-index: 99;
    position: absolute;
    left: 6px;
    top: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 6px #525252;
    -webkit-animation: pulse 2s ease-out infinite;
    -moz-animation: pulse 2s ease-out infinite;
    animation: pulse 2s ease-out infinite;
}

@-moz-keyframes pulse {
 0% {
    -moz-transform: scale(0);
    opacity: 0.1;
 }
 25% {
    -moz-transform: scale(0);
    opacity: 0.3;
 }
 50% {
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.5;
 }
 75% {
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.8;
 }
 100% {
    -moz-transform: scale(1);
    opacity: 0.0;
 }
}

@-webkit-keyframes "pulse" {
 0% {
    -webkit-transform: scale(0);
    opacity: 0.1;
 }
 25% {
    -webkit-transform: scale(0);
    opacity: 0.3;
 }
 50% {
    -webkit-transform: scale(0.1);
    transform: scale(0.5);
    opacity: 0.5;
 }
 75% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.8;
 }
 100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
 }
}


.garbageTruck{
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(5deg);
}

.whiteCar{
    -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);
}


.NavScrollBar{
    position: fixed;

    top:20%;
    left: 2%;    

    border-radius: 5px;
    border-style: solid;
    opacity: 0.7;
    z-index: 81;
}
.slider{
    position: fixed;
    top:35%;
    left: 1.27%;
    background-color:black;
    border-radius: 5px;
    opacity: 0.6;
    z-index: 82;
}

.slider:active{
    background-color:blue;
    border-radius: 5px;
}

#feedback_btn {
    background-color: #f26d21;
    padding: 8px;
    position: fixed;
    top: 5px;
    right: 20px;
    width: 100px;
    border-radius: 3px;
    border: 1px #f26d21 solid;
    color: #ffffff;
    text-decoration: none;
}

/* scroll up animation */

#scroll-up{
    font-size: 3.5em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}



/* Mobile Phones */
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {

    h1 {
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 5px #525252;
    }

    h3 {
        font-size: 1.5em;

    }
    #scroll-up{
        font-size: 1.7em;
    }


    #welcomemsg {

        width: 75%;
        margin: auto;
        position: absolute;
        top: 25%;
        left: 0;
        right: 0;

    }

    .msg {
        left: 0 !important;
        right: 0;
        margin: auto;
        width: 65%;
    }

    .msg p {
        font-size: 12px;
    }

    .msg a {
        font-size: 10px;
    }

    .holder {
        height: 30px;
        width: 30px;
    }
    .pulse {
        height: 5px;
        width: 5px;
        top: 15px;
        left: 14px;
    }

    .dot {
        height: 30px;
        width: 30px;
            top: -3px;
        left: -3px;
    }
}

/* Tablets Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
 {

    #welcomemsg {
        font-size: 100%;
        width: 75%;
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;
        margin: auto; 
    }
}

/* Tablets Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
 {

    #welcomemsg {
        font-size: 100%;
        width: 75%;
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .holder {
        height: 30px;
        width: 30px;
    }

    .dot {
            height: 50px;
        width: 50px;
        top: -7px;
        left: -7px;
    }

    .msg {
        width: 50%;
        left: 0 !important;
        right: 0;
        margin: auto;
    }

    .msg p {
        font-size: 15px;
    }

    .msg a {
        font-size: 12px;
    }

    #feedback_btn {
        width: 70px;
        font-size: 12px;
    }


}


.circle {
    position: absolute;
    top: 250px;
    left: 680px;
    margin: 0;
    padding: 0;
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
      -webkit-animation-name: flash-1;
    animation-name: flash-1;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes flash-1 {
    0%, 100% { background: rgba(0,247,165,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,1);}
    50% { background: rgba(0,247,165,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,0.2);}
}
