
body {
    margin: auto;
    overflow-x: hidden;
}



/* Toppest background images*/
.bg14{
    width: 100%;
    height: auto;
}
.bg{
    width: 100%;
    height: auto;
    margin-top: -5px;
}




img.lazy {
        //width: 700px; 
        //height: 467px; 
        //display: block;
    }

