#dot-1 {
    
    top: 12463.9px;
    left: 539.6px;
}
#msg-1 {
   
    top: 12386.6px;
    left: 512.62px;
}

#dot-2 {
    
    top: 11948.9px;
    left: 242.82px;
}
#msg-2 {
   
    top: 11897.4px;
    left: 188.86px;
}
#dot-3 {
    
    top: 12026.1px;
    left: 593.56px;
}
#msg-3 {
   
    top: 11948.9px;
    left: 593.56px;
}

#dot-4 {
    
    top: 10275px;
    left: 202.35px;
}
#msg-4 {
   
    top: 10275px;
    left: 256.31px;
}

#dot-5 {
    
    top: 9759.95px;
    left: 188.86px;
}
#msg-5 {
   
    top: 9708.45px;
    left: 238.84px;
}
#dot-6 {
    
    top: 9721.32px;
    left: 917.32px;
}
#msg-6 {
   
    top: 9772.83px;
    left: 728.46px;
}

/* ---------------------------------- */

#dot-7 {
    
    top: 9438.05px;
    left: 107.92px;
}
#msg-7 {
   
    top: 9412.3px;
    left: 161.88px;
}

#dot-8 {
    
    top: 9193.41px;
    left: 312.968px;
}
#msg-8 {
   
    top: 9167.66px;
    left: 364.23px;
}
#dot-9 {
    
    top: 8163.34px;
    left: 404.7px;
}
#msg-9 {
   
    top: 8137.58px;
    left: 458.66px;
}

#dot-10 {
    
    top: 7609.67px;
    left: 674.5px;
}
#msg-10 {
   
    top: 7661.17px;
    left: 647.52px;
}

#dot-11 {
    
    top: 7068.88px;
    left: 728.46px;
}
#msg-11 {
   
    top: 7030.25px;
    left: 782.42px;
}
#dot-12 {
    
    top: 6669.73px;
    left: 674.5px;
}
#msg-12 {
   
    top: 6643.98px;
    left: 728.46px;
}