#dot-1 {
    top: 13836.9px;
    left: 600.6px;
}
#msg-1 {
    top: 13786.6px;
    left: 512.62px;
}

#dot-2 {
    top: 13248.9px;
    left: 242.82px;
}
#msg-2 {
    top: 13307.4px;
    left: 188.86px;
}
#dot-3 {
    top: 13366.1px;
    left: 600.56px;
}
#msg-3 {
    top: 13426.9px;
    left: 594.56px;
}

#dot-4 {
    top: 11425px;
    left: 232.35px;
}
#msg-4 {
    top: 11425px;
    left: 284.31px;
}

#dot-5 {
    top: 10820.95px;
    left: 358.86px;
}
#msg-5 {
    top: 10890.45px;
    left: 238.84px;
}
#dot-6 {
    top: 10821.32px;
    left: 954.32px;
}
#msg-6 {
    top: 10742.83px;
    left: 728.46px;
}

#dot-7 {
    top: 10508.05px;
    left: 107.92px;
}
#msg-7 {
    top: 10500.3px;
    left: 161.88px;
}

#dot-8 {
    top: 10193.41px;
    left: 362.968px;
}
#msg-8 {
    top: 10181.66px;
    left: 412.23px;
}
#dot-9 {
    top: 9403.34px;
    left: 404.7px;
}
#msg-9 {
    top: 9397.58px;
    left: 458.66px;
}

#dot-10 {
    top: 8449.67px;
    left: 674.5px;
}
#msg-10 {
    top: 8511.17px;
    left: 647.52px;
}

#dot-11 {
    top: 7798.88px;
    left: 728.46px;
}
#msg-11 {
    top: 7780.25px;
    left: 782.42px;
}
#dot-12 {
    top: 7569.73px;
    left: 674.5px;
}
#msg-12 {
    top: 7563.98px;
    left: 728.46px;
}

#dot-13 {
    top: 6684.43px;
    left: 646.48px;
}
#msg-13 {
    top: 6741.55px;
    left: 625.44px;
}

#dot-14 {
    top: 6121.87px;
    left: 957.52px;
}
#msg-14 {
    top: 6189px;
    left: 801.48px;
}
#dot-15 {
    top: 5083.83px;
    left: 1052.22px;
}
#msg-15 {
    top: 5145.33px;
    left: 836.38px;
}

#dot-16 {
    top: 4301.27px;
    left: 836.38px;
}
#msg-16 {
    top: 4362.78px;
    left: 836.38px;
}

#dot-17 {
    top: 4108.27px;
    left: 647.52px;
}
#msg-17 {
    top: 4108.27px;
    left: 269.8px;
}
#dot-18 {
    top: 3444.47px;
    left: 1023.7px;
}
#msg-18 {
    top: 3436.22px;
    left: 530.34px;
}

#dot-19 {
    top: 2772.18px;
    left: 458.66px;
}
#msg-19 {
    top: 2746.43px;
    left: 512.62px;
}

#dot-20 {
    top: 2296.03px;
    left: 682.42px;
}
#msg-20 {
    top: 2285.9px;
    left: 728.46px;
}
#dot-21 {
    top: 1699.62px;
    left: 593.56px;
}
#msg-21 {
    top: 1751.13px;
    left: 269.8px;
}

#dot-22 {
    top: 1387.59px;
    left: 863.36px;
}
#msg-22 {
    top: 1449.1px;
    left: 836.38px;
}

#dot-23 {
    top: 849.811px;
    left: 755.44px;
}
#msg-23 {
    top: 834.563px;
    left: 821.48px;
}
#dot-24 {
    top: 437.781px;
    left: 566.58px;
}
#msg-24 {
    top: 489.285px;
    left: 512px;
}
#dot-25 {
    top: 0px;
    left: 728.46px;
}
#msg-25 {
    top: 25.752px;
    left: 782.42px;
}


/* Tablets Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
 {

#dot-1 {
        top: 7071px;
        left: 300px;
    }

#msg-1 {
    top: 7040px;
    left: 0;
    right: 0;
}

#dot-2 {
    top: 6899.61px;
    left: 300px;
}

#msg-2 {
    top: 6954.84px;
    left: 0px;
}

#dot-3 {
    top: 6683.61px;
    left: 170.4px;
}

#msg-3 {
    top: 6655.29px;
    left: 0px;
}

#dot-4 {
    top: 5844px;
    left: 108.4px;
}

#msg-4 {
    top: 5854px;
    left: 0px;
}

#dot-5 {
    top: 5648px;
    left: 112.4px;
}

#msg-5 {
    top: 5644px;
    left: 0;
    right: 0;
}

#dot-6 {
    top: 5474px;
    left: 500px;
}

#msg-6 {
    top: 5544px;
    left: 0px;
}

#dot-7 {
    top: 5364px;
    left: 80.4px;
}

#msg-7 {
    top: 5364px;
    left: 0px;
}

#dot-8 {
    top: 5184px;
    left: 120.4px;
}

#msg-8 {
    top: 5184px;
    left: 0px;
}

#dot-9 {
    top: 4804px;
    left: 200px;
}

#msg-9 {
    top: 4864px;
    left: 0;
    right: 0;
}

#dot-10 {
    top: 4294.61px;
    left: 130px;
}

#msg-10 {
    top: 4294.61px;
    left: 0px;
}

#dot-11 {
    top: 4063.61px;
    left: 480.4px;
}

#msg-11 {
    top: 3983.61px;
    left: 0px;
}

#dot-12 {
    top: 3854px;
    left: 308.4px;
}

#msg-12 {
    top: 3904px;
    left: 0px;
}

#dot-13 {
    top: 3388px;
    left: 412.4px;
}

#msg-13 {
    top: 3448px;
    left: 0;
    right: 0;
}

#dot-14 {
    top: 3104px;
    left: 336.52px;
}

#msg-14 {
    top: 3162px;
    left: 0px;
}

#dot-15 {
    top: 2704.52px;
    left: 336.52px;
}

#msg-15 {
    top: 2764px;
    left: 0px;
}

#dot-16 {
    top: 2200px;
    left: 440.4px;
}

#msg-16 {
    top: 2260px;
    left: 0px;
} 

#dot-17 {
    top: 2092px;
    left: 350.4px;
}

#msg-17 {
    top: 1960px;
    left: 0px;
} 

 /* ******  */
#dot-18 {
    top: 1732.47px;
    left: 592.7px;
}

#msg-18 {
    top: 397.12px;
    left: 0;
    right: 0;
}

#dot-19 {
    top: 1472.44px;
    left: 1392.78px;
}

#msg-19 {
    top: 1392.78px;
    left: 0px;
}

#dot-20 {
    top: 1200.03px;
    left: 482.42px;
}

#msg-20 {
    top: 1160.52px;
    left: 0px;
}

#dot-21 {
    top: 866.61px;
    left: 337.92px;
}

#msg-21 {
    top: 826.94px;
    left: 0px;
}

#dot-22 {
    top: 603.04px;
    left: 350.52px;
}

#msg-22 {
    top: 522.362px;
    left: 0;
    right: 0;
}

#dot-23 {
    top: 444.806px;
    left: 400.36px;
}

#msg-23 {
    top: 384.806px;
    left: 0px;
}

#dot-24 {
    top: 228.234px;
    left: 322.56px;
}

#msg-24 {
    top: 278.55px;
    left: 0px;
}

#dot-25 {
    top: 0px;
    left: 414.72px;
}

#msg-25 {
    top: 58.66px;
    left: 0px;
} 


}



/* Mobile Phones */
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {

#dot-1 {
        top: 3421px;
        left: 100px;
    }

    #msg-1 {
        top: 3389px;
        left: 0;
        right: 0;
    }

    #dot-2 {
        top: 3303.6px;
        left: 200px;
    }

    #msg-2 {
        top: 3354.84px;
        left: 0px;
    }

    #dot-3 {
        top: 3253.61px;
        left: 70.4px;
    }

    #msg-3 {
        top: 3196.29px;
        left: 0px;
    }

    #dot-4 {
        top: 2844px;
        left: 48.4px;
    }

    #msg-4 {
        top: 2890px;
        left: 0px;
    }

    #dot-5 {
        top: 2678px;
        left: 42.4px;
    }

    #msg-5 {
        top: 2729px;
        left: 0;
        right: 0;
    }

    #dot-6 {
        top: 2674px;
        left: 240px;
    }

    #msg-6 {
        top: 2626px;
        left: 0px;
    }

    #dot-7 {
        top: 2604px;
        left: 10.4px;
    }

    #msg-7 {
        top: 2604px;
        left: 0px;
    }

    #dot-8 {
        top: 2504px;
        left: 80.4px;
    }

    #msg-8 {
        top: 2452px;
        left: 0px;
    }

   #dot-9 {
        top: 2332px;
        left: 80px;
    }

    #msg-9 {
        top: 2378px;
        left: 0;
        right: 0;
    }

    #dot-10 {
        top: 2158.6px;
        left: 72.4px;
    }

    #msg-10 {
        top: 2094.61px;
        left: 0px;
    }

    #dot-11 {
        top: 1920.61px;
        left: 80.4px;
    }

    #msg-11 {
        top: 1843.61px;
        left: 0px;
    }

    #dot-12 {
        top: 1854px;
        left: 108.4px;
    }

    #msg-12 {
        top: 1784px;
        left: 0px;
    }

    #dot-13 {
        top: 1646px;
        left: 112.4px;
    }

    #msg-13 {
        top: 1688px;
        left: 0;
        right: 0;
    }

    #dot-14 {
        top: 1510px;
        left: 136.52px;
    }

    #msg-14 {
        top: 1562px;
        left: 0px;
    }

    #dot-15 {
        top: 1272.52px;
        left: 236.52px;
    }

    #msg-15 {
        top: 1324px;
        left: 0px;
    }

    #dot-16 {
        top: 1060px;
        left: 200.4px;
    }

    #msg-16 {
        top: 1110px;
        left: 0px;
    } 

    #dot-17 {
        top: 962px;
        left: 150.4px;
    }

    #msg-17 {
        top: 930px;
        left: 0px;
    } 

     /* ******  */
   #dot-18 {
        top: 832.47px;
        left: 282.7px;
    }

    #msg-18 {
        top: 882.47px;
        left: 0;
        right: 0;
    }

    #dot-19 {
        top: 712.44px;
        left: 162.78px;
    }

    #msg-19 {
        top: 650.8px;
        left: 0px;
    }

    #dot-20 {
        top: 630px;
        left: 182.42px;
    }

    #msg-20 {
        top: 676.52px;
        left: 0px;
    }

    #dot-21 {
        top: 466.61px;
        left: 137.92px;
    }

    #msg-21 {
        top: 526.94px;
        left: 0px;
    }

    #dot-22 {
        top: 340px;
        left: 120.5px;
    }

    #msg-22 {
        top: 392px;
        left: 0;
        right: 0;
    }

    #dot-23 {
        top: 204.8px;
        left: 120.3px;
    }

    #msg-23 {
        top: 144px;
        left: 0px;
    }

    #dot-24 {
        top: 110.2px;
        left: 119.5px;
    }

    #msg-24 {
        top: 155px;
        left: 0px;
    }

    #dot-25 {
        top: 0px;
        left: 208.7px;
    }

    #msg-25 {
        top: 46.6px;
        left: 0px;
    } 

    
}