/* SECTION 3 CITY styles */

/* Tram */
#tram {
	/*top: 10852px; 
	left: 640px;*/
	height: 170px;
	width: 206px;
}

/* Car1 */
#car2 {
	top: 9852px; 
	left: 140px;
	height: 149px;
	width: 86px;
}

#bus {
	top: 9852px; 
	left: 140px;
	height: 149px;
	width: 86px;
}

/* church */
#church {
	/*top: 10852px; 
	left: 640px;*/
	height: 921px;
	width: 755px;
}

/* flags-building */
#flags-building {
	z-index: 1000;
}

/* arts-centre */
#arts-centre {
	z-index: 1000;
}

/* ab-flag */
#ab-flag {
	z-index: 1100;
}

/* au-flag */
#au-flag {
	z-index: 1100;
}

/* building */
#building {
	z-index: 1100;
}

/* truck1 
#truck1 {
	z-index: 900;
}*/