.tractor{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 2690px;
    left: 10px;
    //z-index: 2;
        
    -webkit-transform: rotateZ(-5deg); /* Chrome, Safari, Opera */
    transform: rotateZ(-5deg);
    -ms-transform: rotateZ(-5deg); /* IE 9 */
/
}