.turbine{
    position: absolute;

    //z-index: 2;
        
    //-webkit-transform: rotateY(40deg); /* Chrome, Safari, Opera */
    //transform: rotateY(90deg);
    //-ms-transform: rotateY(90deg); /* IE 9 */
    
}
/* +++++ Turbines listed from left to right +++++++ */
#turbine1{
    width: 225px;
    height: 400px;
    top: 100px;
    left: 50px;   
}
#turbine2{
    width: 225px;
    height: 400px;
    top: 20px;
    left: 200px;  
}
#turbine3{
    width: 225px;
    height: 400px;
    top: 30px;
    left: 820px;    
}
#turbine4{
    width: 225px;
    height: 400px;
    top: 90px;
    left: 1300px;    
}
#turbine5{
    width: 225px;
    height: 400px;
    top: 160px;
    left: 1500px;    
}