.led-yellow {
  position: absolute;
  margin: 0 auto;
  width: 18px;
  height: 18px;
  background-color: #f5f531;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #242323 0 -1px 9px, #f5f531 0 2px 12px;
  -webkit-animation: blinkYellow 1s infinite;
  -moz-animation: blinkYellow 1s infinite;
  -ms-animation: blinkYellow 1s infinite;
  -o-animation: blinkYellow 1s infinite;
  animation: blinkYellow 1s infinite;
}

@-webkit-keyframes blinkYellow {
    from { background-color: #f5f531; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #242323 0 -1px 9px, #f5f531 0 2px 0; }
    to { background-color: #f5f531; }
}
@-moz-keyframes blinkYellow {
    from { background-color: #f5f531; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #242323 0 -1px 9px, #f5f531 0 2px 0; }
    to { background-color: #f5f531; }
}
@-ms-keyframes blinkYellow {
    from { background-color: #f5f531; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #242323 0 -1px 9px, #f5f531 0 2px 0; }
    to { background-color: #f5f531; }
}
@-o-keyframes blinkYellow {
    from { background-color: #f5f531; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #242323 0 -1px 9px, #f5f531 0 2px 0; }
    to { background-color: #f5f531; }
}
@keyframes blinkYellow {
    from { background-color: #f5f531; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #242323 0 -1px 9px, #f5f531 0 2px 0; }
    to { background-color: #f5f531; }
}
#rightLED{
  top: 2958px;
  left: 974px;     
}
#leftLED{
  top: 3009px;
  left: 870px;     
}









